@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-style1);
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 1rem;
}
.information header {
  font-size: 2rem;
}
.information > span {
  color: #73a7df;
  margin-bottom: 15px;
}

:root {
  --font-style1: Quicksand;
  --primary-color: #0972e2;
  --primary-alternate-color:#28a745;
}
/*avatar*/
.avatar {
  --avatar-height: 3rem;
  --avatar-width: 3rem;
  --avatar-radius: 50%;
  display: flex;
  align-items: center;
  margin: 2rem;
}
.img {
  margin: 1rem;
}
.img1 {
  width: var(--avatar-width);
  height: var(--avatar-height);
  border-radius: var(--avatar-radius);
}
.img2 {
  width: calc(var(--avatar-width) * 1.5);
  height: calc(var(--avatar-width) * 1.5);
  border-radius: var(--avatar-radius);
}
.img3 {
  width: calc(var(--avatar-width) * 2);
  height: calc(var(--avatar-width) * 2);
  border-radius: var(--avatar-radius);
}

/*alert*/

.alert {
  --alert-radius: 4px;
  --alert-width: 60%;
  /* --alert-margin:2rem auto; */
  --alert-padding: 0.3rem;
  --alert-border-shadow: 0 0 15px 5px #ccc;
  --alert-margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simple-alert {
  width: var(--alert-width);
  background-color: #ebebeb;
  padding: var(--alert-padding);
  border-radius: var(--alert-radius);
  box-shadow: var(--alert-border-shadow);
  margin-top: var(--alert-margin);
}
.success-alert {
  width: var(--alert-width);
  background-color: #a8f0c6;
  padding: var(--alert-padding);
  border-radius: var(--alert-radius);
  box-shadow: var(--alert-border-shadow);
  margin-top: var(--alert-margin);
}
.danger-alert {
  width: var(--alert-width);
  background-color: #f7a7a3;
  padding: var(--alert-padding);
  border-radius: var(--alert-radius);
  box-shadow: var(--alert-border-shadow);
  margin-top: var(--alert-margin);
}
.warning-alert {
  width: var(--alert-width);
  background-color: #ffd48a;
  padding: var(--alert-padding);
  border-radius: var(--alert-radius);
  box-shadow: var(--alert-border-shadow);
  margin-top: var(--alert-margin);
}
.badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: #e0e0e0;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 1rem;
}
.badge_number {
  background-color: rgb(247, 68, 68);
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  top: -5px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge_in_avatar {
  display: flex;
}
.badge_image {
  position: relative;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
.online_badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #85ffb8;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
}
/*Buttons*/
.buttons {
  margin: 1rem;
}
.btn {
  cursor:pointer;
  padding: 0.6rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  color: white;
  font-size: 0.8rem;
  margin: 10px 10px 0 0;
}
.btn:hover{
  background-color:#4BEC68;
}


.btn-primary {
  background-color: var(--primary-alternate-color);
}
.btn-secondary {
  background-color: #5a6268;
}
.btn-success {
  background-color: #28a745;
}
.btn-danger {
  background-color: #c82333;
}
.btn-warning {
  background-color: #e0a800;
}
.btn-primary-outline {
  background-color: #e4e4e4;
  color: #5a6268;
}
.btn-link {
  text-decoration: none;
}
.btn-outline {
  border: 1px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}
.action {
  margin: 1rem;
}
.floating_action_btn {
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 0.5rem var(--primary-color);
}
.floating_action_btn:hover {
  background-color: #3c9aff;
}
/*Card*/
.cards-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.horizontal-card {
  display: flex;
  align-items: center;
  border: 1px solid rgb(241, 239, 239);
  margin-top: 2rem;
}
.card-info{
  display: flex;
  margin-left:0.5rem;
  flex-direction: column;
  justify-content: space-between;
}
/* .card-description {
  display: flex;
  flex-direction: column;
}
.card-description > p {
  font-size: 0.9rem;
}
.card-description > span {
  font-size: 0.7rem;
  padding: 10px 0 10px 0;
}

.card-button-option {
  display: flex;
  flex-wrap: wrap;
} */
.card-description {
  display: flex;
  flex-direction: column;
}
.card-description > p {
  font-size: 0.9rem;
  padding:0.4rem;
}
.card-description > span {
  font-size: 0.7rem;
  padding: 12px 0 12px 0;
  margin-right: 2rem;
}

.card-button-option {
  display: flex;
  flex-wrap: wrap;
  
}
.hcard-image {
  height: 150px;
  width: auto;
  max-width: 200px;
  object-fit: cover;
}
/* .hcard-image {
  width: 180px;
  height: auto;
} */

.card-dismiss {
  position: relative;
}


.fa-trash{
  position: absolute;
  font-size: 1.1rem;
  color: rgb(245, 116, 116);
  top: 3px;
  cursor:pointer;
  right: 10px;
}
.dismiss {
  position: absolute;
  font-size: 1.2rem;
  color: rgb(102, 102, 102);
  top: 8px;
  right: 10px;
}
/* Text overlay*/
.horizontal-card > .vcard-image {
  position: relative;
}
.img-text-overlay {
  position: absolute;
  top: 1;
  left: 5;
  padding: 0.2rem;
  background-color: rgb(253, 244, 244);
  color: red;
  opacity: 0.9;
}

/*Vertical card*/
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.vertical-card {
  max-width: 30vw;
  padding: 0.5rem;
  border: 2px solid rgb(238, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vc-shadow {
  max-width: 30vw;
  padding: 0.5rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-image {
  width: 100%;
  height: auto;
}
.responsive-image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}
.responsive-image > img {
  width: 100%;
  height: auto;
}

.round-image > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.input {
  outline: none;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  border: 2px solid #aaa;
  border-radius: 5px;
}
.plain-textbox {
  width: 50%;
  margin: auto;
}
.input:focus {
  border-color:#4BEC68;
  box-shadow: 0 0 5px 0 #4BEC68;
}

.form-header {
  color:var(--primary-alternate-color);
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  width:60%;
}
.form .form-input {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  width: 75%;
}
/*List style*/
.List-style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.styled-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  margin: 1rem;
  padding: 2rem;
}
.list-style-square {
  list-style-type: square;
}
.list-style-circle {
  list-style-type: circle;
}

.list-style-roman {
  list-style-type: lower-roman;
}
.list-style-alphabet {
  list-style-type: lower-alpha;
}
.list-style-reversed {
  list-style-type: lower-alpha;
}

.notification-list {
  display: flex;
  flex-direction: column;
}
.notification {
  display: flex;
  align-items: center;
  border: 1px solid rgb(201, 201, 201);
  margin: 1rem;
}
.notification > img {
  width: 120px;
  height: 150px;
  margin: 1rem;
}
/*Styling modal*/

.modal-section {
  display: flex;
  flex-direction: column;
}
.modal-section h2 {
  margin: 40px 0 20px 0px;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: relative;
  display: flex;
  padding: 1rem;
  background: white;
  width: 30%;
  height: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-visible {
  visibility: visible;
  opacity: 1;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}

/* .Nav-section {
  position: fixed;
} */

.nav {
  z-index: 1;
  position:fixed;
  top:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 43, 43);
  font-size: 1rem;
  color: rgba(231, 231, 231, 0.973);
  font-weight: 800;
  padding: 0.5rem;
  overflow: hidden;
}
.nav-heading{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-heading> img{
  height:35px;
  background-color: transparent;
}
.nav label {
  margin-left: 0.5rem;
  color: #5bbe6d;
  font-size: 1.4rem;
  font-family: 'Comforter';
  letter-spacing:1.5px;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list li {
  padding: 0.2rem;
}

.nav-list li .fa {
  padding-left: 0.2rem;
}
.nav-input {
  margin-left: 0.2rem;
  border-radius: 3px;
  padding: 0.4rem;
  outline: none;
  border: none;
  width: 100%;
  position: relative;
}
.search-btn {
  width: 50%;
  position: relative;
  margin-right: 0.2rem;
}
.fa-search {
  position: absolute;
  color: var(--primary-alternate-color);
  top: 5px;
  right: 0.5rem;
}
.fa-search:hover {
  color: rgba(27, 27, 27, 0.918);
}

.fa-bars {
  display: none;
}

/*Rating*/
.rating-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.star {
  list-style: none;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star li {
  color: rgb(219, 218, 218);
}
.star li:hover {
  font-size: 1.1rem;
  color: rgb(238, 216, 15);
}
.orange {
  color: red;
}

/*Grid SImplified*/
.grid-1 {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 1px solid rgb(173, 172, 172);
}
.shadow {
  padding: 0.5rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
.image-grid {
  object-fit: cover;
  opacity:0.8;
  width: 100%;
  margin: 1rem 0rem 1rem 0;
  height: 40vh;
  border-radius:2px;
}
.grid-2 {
  display: grid;
  grid-gap:12px;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(248, 248, 248);
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(245, 242, 242);
}
.flex-in-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-in-grid > h4{
  margin-top: 1rem;
  color: #868686;
}
/*Grid vertical cards*/
.grid-vertical-card {

  margin: 2rem auto 1rem auto;
  grid-gap: 1rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.heading-typo {
  display: flex;
  flex-direction: column;
}

.paragraph-typo {
  display: flex;
  flex-direction: column;
}
.lg {
  font-size: 2rem;
}
.rg {
  font-size: 1.8rem;
}
.md {
  font-size: 1.5rem;
}
.sm {
  font-size: 1rem;
}


.App{
  margin-top:4rem;
}

.Options {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
/* .Sort {
  margin: 1rem 1rem 0 0;
} */
.Sort > input {
  margin-left: 0.3rem;
}
/* .Filter {
  margin: 1rem 1rem 0 0;
} */
.Filter > input {
  margin-left: 0.3rem;
}
.hamburger {
  position: relative;
}
.sidebar {
  display:none;
  background-color: #2e2e2e;
  width: 200px;
  height: 100vh;
  top: 0;
  right:0;
  z-index:1;
  position: fixed;
  overflow: hidden;
}
.sidebaractive {
  right: 0;
  background-color: #2e2e2e;
  width: 200px;
  height: 100vh;
  top: 0;
  z-index:1;
  position: fixed;
  display: block;
  overflow: hidden;
}
.sidebarMenu {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.nav-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  width: 100%;
}
.nav-menu-items:hover {
  background-color: #1f1d1d;
}
.fa-times {
  font-size: 1.3rem;
  color: whitesmoke;
  padding: 0.5rem;
}

hr {
  border: 0.1px solid #28a745;
  margin: 1.5rem auto 0 auto;
  width: 60%;
}
.video_section{
  width:100%;
  height:50vh;
  margin-bottom: 0.8rem;
}

@media (max-width: 520px) {
  .nav > .nav-list {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .card-button-option {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .video_section{
    width:100%;
    height:30vh;
    margin-bottom: 0.8rem;
  }
}
.video-box{
  display: flex;
  flex-direction: column;
  margin:0.5rem;
 
}
.video-box>img{
  width: 100%;
  height:30vh;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.explore{
  color:#28a745;
  text-decoration: none;
}
.video-detail{
  display: flex;
  padding-top:0.6rem;
  align-content: flex-end;
}
small{
  padding-right:0.8rem;
  color:rgba(133, 133, 133, 0.856);
  margin-top: 0.3rem;
}
.videos{
  display: grid;
  grid-gap:2rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.video-box > p{
  font-size : 0.9rem;
}
.videoplayer{
  display:flex;
  flex-direction: column;
  width:75vw;
  margin:auto;
}

.video_title{
  color: "#868686";
}


.video_description{
  font-size:0.9rem;
  margin-top: 0.5rem;
}
.video_description>p{
  color :rgb(90, 90, 90);
  font-size: 0.9rem;
  font-weight:600
}

.navlink{
  text-decoration: none;
}
.navstyle{
  cursor:pointer;
  text-decoration: none;
  color:white;
}
.playlist-title{
  color:var(--primary-alternate-color);
  margin:1rem;
}
.playlist-item{
  width: 65%;
  background-color: #a8f0c6;
  padding: 0.7rem;
  border-radius: 4px;
  box-shadow: 0 0 14px 3px #b7e2c9;
  margin: 3rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist-video{
  width : 60vw;
  display : flex;
  flex-direction : column;
  margin : auto;
  margin-top : 1.6rem;

}
.playlist-video-title{
  font-size : 13px;
  padding-top : 3px
}
.playlist-content{
  display : flex; 
  align-items: center;
}
.fa-trash-o:hover{
  color:rgb(240, 36, 36);
  cursor: pointer;
}
.fa-play{
  margin-left:0.5rem;
}

.playlist-video_detail{
  display : flex;
  padding-top : 0.2rem;
  align-content : flex-end;
  font-size : 12px;
}

.playlist-video-content{
  position: relative;
}
.fa-trash-o{
  justify-self: flex-end;
}

.fa-window-close{
  position: absolute;
  top:0px;
  right:0;
  color:#FF0000;
  background-color: #fff;
  font-size: 18px
}
/* styling css */
